.header {
  padding: 45px 0 35px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__flex {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 540px) {
  .header {
    padding: 28px;
  }
}

.logo {
  max-width: 142px;
  max-height: 33px;
}

@media screen and (max-width: 540px) {
  .logo {
    max-width: 104px;
    max-height: 24px;
  }
}

.header-info__flex {
  display: flex;
  column-gap: 20px;
  align-items: self-end;
}

.header__email {
  font-size: 18px;
  color: #fff;
}

.header__button {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}
