.popup-image {
  visibility: hidden;
  opacity: 0;
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 540px) {
  .popup-image {
    padding-top: 123px;
    justify-content: center;
    align-items: flex-start;
  }
}

.popup-image_opened {
  visibility: visible;
  opacity: 1;
}

.popup__content {
  margin: auto;
  position: relative;
}

.popup__image {
  max-width: 75vw;
  max-height: 75vh;
}

.popup__sub-text {
  margin: 10px 0 0;
  color: #fff;
  font-size: 12px;
  line-height: 1.1;
  font-weight: 400;
}

.popup__close-button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: absolute;
  top: -40px;
  right: -40px;
  max-width: 32px;
  max-height: 32px;
  cursor: pointer;
  transition: opacity 350ms ease-in-out;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 540px) {
  .popup__close-button {
    top: -36px;
    right: 0;
    max-width: 20px;
    max-height: 20px;
  }
}

.popup__close-icon {
  width: 100%;
}
